/*****GLOBAL*****/
html{
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    cursor: pointer;
}

/*****HEADER*****/
header{
    background-color: #85cdf5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5rem 15%;
    justify-content: center;
    align-items: center;
    height: 100px;
}

header a{
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
    word-wrap: unset;
}

header a:first-child{
    text-align: left;
}

header a:last-child{
    text-align: right;
    margin-left: auto;
}

header img{
    justify-self: center;
    max-height: 100px;
    width: auto;
}

div.hoverbar {
    width: 0%;
    height: 4px;
    background: black;
    transition: width 1s;
}

header a:last-child div.hoverbar{
    margin-left: auto;
}

header a:hover div.hoverbar{
    width: 100%;
} 

.gradient{
    width: 100%;
    height: 6px; 
    background-image: linear-gradient(to right, rgb(255, 208, 0), rgb(68, 0, 255));
}

/*****BODY*****/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/*****FOOTER*****/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #333333;
    color: #FFFFFF;
    font-size: small;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    padding: 2rem 10%;
}

footer > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

footer iframe{
    border: #353535 solid;

}

footer ul li{
    display: flex;
    padding: 0.7rem;
    text-align: left;
}

footer ul li img{
    padding-right: 0.7rem;
}

.footerbtn {
    background-color: #DEB959; 
    border: #353535 solid;
    color: #353535;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
