/*****BODY*****/
h1{
    position: relative;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: black;
    padding: 2rem;
}

.boxtext{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.textwho{
    max-width: 70%;
    text-align: center;
}