html, body{
    margin: 0;
    padding: 0;
    font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/***************************************** Cabeçalho ***********************************************/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    background-color: #85CDF5;
    font-weight: 700;
    font-size: 30px;
}

.title_nosso {
    margin-left: 250px;
}

.title_quem_somos {
    margin-right: 250px;
    text-decoration: none;
    color: black;
}

/*************************************** Conteúdo Principal **************************************/

.search_bar {
    width: 688px;
    height: 47px;
    margin: 25px 15px 0 250px ;
    border: 1px solid black;
}

.bnt_lobo {
    background-color: #DEB959;
    height: 47px;
    border: none;
    font-weight: 200;
    font-size: 26px;
    color: white;
    padding: 4px 20px 6px 20px;
}

.checkbox {
    margin: 20px 10px 0 250px;
}

.lobo_left {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 899px;
    height: 361px;
    margin-left: 180px;
    margin-bottom: 40px;
}

.content_img_l{
    display: inline-block;
    width: 430px;
    height: 328px;
    background-color: #2C5680;
    border: 3px solid black;
}

.img_lobos1 {
    position: absolute;
    width: 430px;
    height: 328px;
    bottom: 0;

}

.content_info_left {
    position: relative;
    width: 478px;
    height: 339px;
    margin-top: 20px;
    margin-left: 80px;
    
}

.bnt_adotar {
    position: absolute;
    background-color: #DEB959;
    height: 45px;
    font-size: 26px;
    color: white;
    font-weight: 200;
    margin-top: 10px;
    padding: 4px 40px 6px 40px;
    border: none;
    top: 0;
    right: 0;
}

.idade_ano {
    color: rgba(0, 0, 0, 0.616);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}


/***************************** Section Lobo direito *******************************/

.lobo_right {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 899px;
    height: 361px;
    margin-left: 220px;
    margin-bottom: 40px;
}

.content_info_rigth {
    position: relative;
    width: 400px;
    height: 339px;
    margin-top: 20px;
}

.content_img_r {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 380px;
    height: 328px;
    background-color: #2C5680;
    border: 3px solid black;
}

.img_lobos2 {
    display: inline-block;
    position: absolute;
    width: 430px;
    height: 328px;
    bottom: 0;
    right: 30px;
}