


body{
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}


/* cabeçalho */
header{
    display: flex;
    background-color: #85cdf5;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    
}
header .link{
    display: block;
    justify-content: center;
    font-size: 2rem;
    width: 100px;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
}
header img{
    justify-self: center;
    height: 5vw;
}
/* ANIMAÇÃO CABEÇALHO */
@keyframes animacaolinkmain{
    50% {
        margin-bottom: 8px;
        transform: scale(1.05);
    }
    100% {
        color: white;
        transform: scale(1.05);
        margin-bottom: 4px;
    }
}
@keyframes animacaolinha{
    50%{
        background-color: black;
        height: 0px;
        width: 0px;
    }
    100%{
        height: 2px;
        width: 90%;
        background-color: white;
  }
}
.line{
    display: block;
    align-self: center;
    background-color: #000;
}
header .link:hover{
    animation-name: animacaolinkmain;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
header .link:hover > div{
    animation-name: animacaolinha;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}


/* sobre */
.intro{
    background: url(./media/lobo-about.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 70%;
}
.maskgroup{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 35vw;
    position: relative;
    flex-shrink: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.08),rgba(0, 0, 0, .5) );
    gap: 2vw;
}
.maskgroup h1{
    font-size: 6vw;
    color: #FFF; 
    height: fit-content;
    width: fit-content;
    margin: 0px;
}
.maskgroup .divisor{
    background-color:#FFF;
    height: 0.5vw;
    width: 8vw;
}
.maskgroup h2{
    margin: 0px;
    padding: 0px;
    width:40vw;
    text-align: center;
    color: #FFF; 
    font-size: 1.7vw;
}
/* sobre */
.about{
    display: flex;
    flex-flow: column nowrap;
    background-color: #2C5680;
    justify-content: center;
    align-items: center;
    padding: 2vw 0 2.5vw 0;
    gap: 1vw;

}
.about h2,.values h2{
    margin: 0px;
    font-size: 2.5vw;
    color: #DEB959;
}
.about p{
    margin: 0;
    color: #FFF; 
    font-size: 1.4vw;
    width: 50vw;
    text-align: center;
}
.values{
    display: flex;
    flex-flow: column nowrap;
    background-color: #333;
    justify-content: center;
    align-items: center;
    padding: 2vw 0 5vw 0;
    gap: 1vw;
}
.values .list{
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    justify-content: center;
}
.value{
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5vw;
    align-items: center;
    width: min-content;

}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1.5vw;
    border-radius: 100%;
    width: 7vw;
    min-width: 50px;
    min-height: 50px;

}
.icon img{
    width: inherit;
    min-width: inherit;

}

.value h2{
    display: flex;
    justify-content: center;
    margin: 0px;
    font-size: 1.6vw;
    color: #FFF;
    width: 7vw;
    text-align: center;
}
.value .description{
    text-align: center;
    white-space: pre-wrap;
    color: #FFF;
}
/* lobos */
/* 

 */
.wolves{
    display: flex;
    flex-flow: column wrap;
    margin: 0px;
    font-size: 2.5vw;
    color: #000;
    text-align: center;
    padding: 2vw;
    gap: 4vw;
}
.wolves h2{
    color:#DEB959
}



.foto {
        width: 300px;
        height: 200px;
        background-size: cover;
        background-position: center;
}
.wolfAge{
    font-size: 1.5vw;
}
#output{
    display: none;
    font-size: 0px;
}
.description h3{
    margin: 0;
    font-size: 2.6vw;
}

.lobo-container1{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 4vw;
    align-self: flex-start;
    margin-left: 10vw;
}
.lobo-container1 .foto {
    position: relative;
    z-index: 2;
    height: 18vw;
    width: 24vw;
    box-shadow: -3vw -2vw #2C5680;
}
.lobo-container1 .description{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 40vw;
}
.lobo-container1 .description p{
    text-align: left;
    font-size: 1.4vw;
    margin-bottom: 0px;
}
/* segundo lobo */
.lobo-container2{
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-self: flex-end;
    margin-right: 10vw;
}
.lobo-container2 .foto {
    position: relative;
    z-index: 2;
    height: 18vw;
    width: 24vw;
    box-shadow: 3vw -2vw #2C5680;
}
.lobo-container2 .description{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    max-width: 40vw;
}
.lobo-container2 .description p{
    text-align: right;
    font-size: 1.4vw;
    margin-bottom: 0px;
}

/* ------footer */
footer{
    background-color: #333333;
    padding: 2vw;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 100vw;
}
/* --localização */
.localizacao{
    display: flex;
    flex-flow: row;
    width: fit-content;
    justify-self: flex-start;
    padding: 1vw;

}
/* Iframe */
footer .localizacao iframe{
    display: inline-block;
    width: 25vw;
    height: 15vw;
}
/* informações */
.infos{
    display: flex;
    flex-flow: column wrap;
    margin-left: 2vw;
    gap: 1.5vw;
}
/* informações individuais */
.info{
    display: flex;
    align-content: center;
    font-size: 1vw;
    color: #FFF;
    max-width: 23vw;
    gap: 0.5vw;
}
.info img{
    height: 1.4vw;
    display: inline-block;
    align-self: center;
}
.info div{
    display: inline-block;
}
.infos button{
    justify-self: flex-end;
    position: relative;
    top: 2.6vw;
    width: 10vw;
    height: 2.3vw;
    background-color: #DEB959;
    font-size: 1.3vw;
    outline: 0px;
}
.infos button a{
    text-decoration: none;
    color: #000;
}
/* desenvolvido com amor */
.developLove{
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    align-self: flex-start;
    margin-right: 5vw;
}
.developLove h5{
    font-size: 1.4vw;
    margin-bottom: .5vw;
    font-weight: 100;
    margin-top: .5vw;
    color: #FFF;
}
.developLove img{
    width: 9vw;
    align-self: center;
}

/* responsividade header */
@media only screen and (max-width:800px) {
    header .link{
        font-size: 22px;
        white-space: pre-wrap;
        line-height: 1.6ch;
        text-align: center;
    }
    header img{
        min-width: 40px;
        min-height: 46.67px;
    }
}



/* responsividade Intro */
@media only screen and (max-width:920px) {
    .maskgroup h2{
        font-size: 16px;
        width: 80vw;
    }
    .maskgroup{
        height: 60vw;
    }
    .maskgroup h1{
        font-size: 45px;
    }
}
/* responsividade subtitulos */
@media only screen and (max-width:969px) {
    .about h2, .values h2, .wolves h2{
        font-size: 24px;
    }
}
/* responsividade Sobre */
@media only screen and (max-width:969px) {
    .about p{
        font-size: 14px;
        width: 80vw;
    }
}
/* responsividade Valores */
@media only screen and (max-width:588px) {
    .value{
        width: 50vw;
    }
    .icon{
        width: 20vw;
        height: 20vw;
    }
    .icon img{
        width: 85px;
    }
}

/* responsividade Lobos */
@media only screen and (max-width:690px){
    .container{
        margin: 0px;
        flex-flow: column wrap;
        align-self: center;
        width: 80vw;
        align-items: center;
    }
    .lobo-container2 .foto{
        order: 1;
    }
    .lobo-container2 .description{
        order:2;
        align-items: flex-start;
    }
    .lobo-container2 .description p{
        text-align: left;
    }
    .container .foto{
        height: 60vw;
        width: 80vw;
    }
    /* descrição */
    .container .description{
        width:80vw;
        max-width: unset;
    }
    .container .description h3{
        font-size: 10vw;
    }
    .container .description .wolfAge{
        font-size: 2.5vw;
    }
    .container .description p{
        font-size: 3vw;
        font-weight: 200;
    }
}
/* responsividade footer */
@media only screen and (max-width:780px){
    footer{
        align-items: center;
        flex-flow: row nowrap;
    }
    .localizacao{
        flex-flow: row nowrap;
        width: 75vw;
        justify-content: center;
        align-items: center;
    }
    .info div{
        font-size: 2.4vw;
        width: 50vw;
        max-width: unset;
    }
    .info{
        max-width: 90vw;
    }
    .infos button{
        top: 0px;
        font-size: 70%;
        font-weight: 1000;
        white-space: nowrap;
        text-align: center;
        width: 20vw;
        height: 5vw;
    }
    .developLove{
        align-self: center;
    }
    .developLove h5{
        display:none;
    }
    footer .localizacao iframe{
        height: 113px;
        max-height: none;
    }
}