/*****BODY*****/
main{
    display: contents;
}

h1{
    position: relative;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: black;
    padding: 2rem;
}

div.wolfdesc{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 2rem 1rem;
}

div.wolfdesc p{
    word-break: break-word;
    max-width: 37%;
}

div.wolfchoice{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.mainadopt{
    background-color: #7AAC3A; 
    color: #FFFFFF;
    border-style: none;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.maindelete{
    background-color: #DE5959; 
    color: #FFFFFF;
    border-style: none;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.mainadopt:hover,
.maindelete:hover {
    background: #333333;
    cursor: pointer;
}

.mainadopt:disabled{
    background: #777777;
    cursor: none;
}

.wolfpic{
    box-shadow: -30px -30px #2C5680;
}
