/*Essa parte do código eu copiei da pessoas que estava responsável pela home */
body{
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}


/* cabeçalho */
header{
    display: flex;
    background-color: #85cdf5;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    
}
header .link{
    display: block;
    justify-content: center;
    font-size: 2rem;
    width: 100px;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
}
header img{
    justify-self: center;
    height: 5vw;
}

/* ANIMAÇÃO CABEÇALHO */
@keyframes animacaolinkmain{
    50% {
        margin-bottom: 8px;
        transform: scale(1.05);
    }
    100% {
        color: white;
        transform: scale(1.05);
        margin-bottom: 4px;
    }
}
@keyframes animacaolinha{
    50%{
        background-color: black;
        height: 0px;
        width: 0px;
    }
    100%{
        height: 2px;
        width: 90%;
        background-color: white;
  }
}
.line{
    display: block;
    align-self: center;
    background-color: #000;
}
header .link:hover{
    animation-name: animacaolinkmain;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
header .link:hover > div{
    animation-name: animacaolinha;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
footer{
    background-color: #333333;
    padding: 2vw;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 100vw;
}
/* --localização */
.localizacao{
    display: flex;
    flex-flow: row;
    width: fit-content;
    justify-self: flex-start;
    padding: 1vw;

}
/* Iframe */
footer .localizacao iframe{
    display: inline-block;
    width: 25vw;
    height: 15vw;
}
/* informações */
.infos{
    display: flex;
    flex-flow: column wrap;
    margin-left: 2vw;
    gap: 1.5vw;
}
/* informações individuais */
.info{
    display: flex;
    align-content: center;
    font-size: 1vw;
    color: #FFF;
    max-width: 23vw;
    gap: 0.5vw;
}
.info img{
    height: 1.4vw;
    display: inline-block;
    align-self: center;
}
.info div{
    display: inline-block;
}
.infos button{
    justify-self: flex-end;
    position: relative;
    top: 2.6vw;
    width: 10vw;
    height: 2.3vw;
    background-color: #DEB959;
    font-size: 1.3vw;
    outline: 0px;
}
.infos button a{
    text-decoration: none;
    color: #000;
}
/* desenvolvido com amor */
.developLove{
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    align-self: flex-start;
    margin-right: 5vw;
}
.developLove h5{
    font-size: 1.4vw;
    margin-bottom: .5vw;
    font-weight: 100;
    margin-top: .5vw;
    color: #FFF;
}
.developLove img{
    width: 9vw;
    align-self: center;
}

/*Até aqui */

header {
    height: 15vh;
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 35vh;
    margin-top: 40px;
    margin-bottom: 40px;
}

article {
    height: 30vh;
}

.main {
    display: flex;
    padding: 20px;
    margin-left: 100px;
}
.direito {
    width: 200px; /* Largura da imagem */
    height: 200px; /* Altura da imagem */
    border-radius: 50%; /* Transforma a imagem em um círculo */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do círculo */
    flex-shrink: 0;
}

.direito img {
    width: 100%; /* Faz a imagem ocupar todo o espaço do círculo */
    height: auto;
}

.esquerdo {
    margin-left: 20px;
}

.titulo {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.conteudo {
    font-size: 0.8em;
    margin-top: 5px;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="number"],
input[type="email"] {
    border: none; /* Remove a borda padrão */
    border-bottom: 1px solid #000; /* Adiciona um underline */
    outline: none; /* Remove o contorno quando selecionado */
}

/* Estiliza a classe que contém os campos de entrada na mesma linha */
.mesma.linha {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.mesma.linha input {
    width: 100%;
}
/* Estiliza os campos de entrada na mesma linha */
.ml-direita {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.ml-esquerda {
    width:5%;
    display: flex;
    flex-direction: column;
}

/* Estiliza o campo de entrada na mesma linha, do lado direito */
.ml-direita input {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

/* Estiliza o campo de entrada na mesma linha, do lado esquerdo */
.ml-esquerda input {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

.linhaUnica {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/* Estiliza o campo de entrada na linha única */
.linhaUnica input {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
}

/* Estiliza o artigo */

.adotar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.adotar input[type="submit"] {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    cursor: pointer;
    background-color: #2C5680; /* Altera a cor de fundo */
    color: white; /* Altera a cor do texto para branco */
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    padding: 8px 16px; /* Adiciona um pouco de espaço ao redor do botão */
}
