/*****BODY*****/
div.alladd{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 1rem auto;
    border: 2px #333333 solid;
    padding: 2rem
}

div.alladd h1{
    margin: 0 auto 2rem auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

form div.field{
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    width: 100%;
    box-sizing: border-box;
}

form div.field input{
    height: 1.3rem;
}

input#savebutton{
    background-color: #2C5680;
    padding: 0.5rem 2rem;
    color: white;
    margin: auto;
    border: 1px #333333 solid;
}
input#savebutton:hover{
    cursor: pointer;
}

div.field input,
div.field textarea{
    width: 100%;
    background-color: #E6E6E6;
    border: 1px #333333 solid;
    resize: unset;
}

form div.double_field{
    display: grid;
    grid-template-columns: 2fr 1fr;
}